/* COMPONENTS */

/* ADD NOTE BAR */

.new-note-type-list *{
    padding: 10px;
    margin: 5px;
}

/* NEW NOTE INPUT */
.new-note-input {
    min-width: 200px;
}

/* EXTANDED NOTE INPUT */
.more-content-input {
    margin: 5px auto;
}

/* NOTE LIST */

.note-list {
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px,1fr));
    /* grid-auto-rows: minmax(100px,1fr); */
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.note-list li{
    padding: 5px;
    height: 100%;
}

.note-list li:hover{
    cursor: pointer;
}

.text-note, .img-note, .todos-note{
    padding: 10px;
    border-radius: 10px;
}

.NoteImg{
    grid-row: span 3;
}

.text-note > :first-child{
    margin-top: 0;
}

.txt{
    margin: 0px;
    background-color: transparent;
    border: none;
    outline: none;
}


.note-img{
    height: 100%;
    width: 100%;
    grid-row: span 3;
}


/* HELPERS */

.done {
    text-decoration: line-through;
}