/* COMPONENTS */

/* NAV-FILTER */

.price-filter{
    margin-inline-end: 20px;
    margin-block-end: 20px;
}

.book-list{
    margin: 5px;
}

.price-input{
    max-width: 100px;
    margin: 5px;
}

/* book-GALLERY */

/* HEADER */

.books-header {
    margin: 20px;
}

.book-list{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-auto-rows: 250px;
    gap: 30px 10px;
}

.book-img{
    height: 90%;
    width: 90%;
    margin: 0px 5px;
}

.book-list a{
    text-decoration: none;
    color: black;
}

.book-text *{
    margin: 2px auto;
}

/* BOOK DETAILS */

.book-info{
    margin: 0px 15px;
}

.review-form{
    flex: 1;
}

.book-review *:not(:last-child) {
    margin-block-end: 10px;

}