/* COMPONENTS */

/* NAV-FILTER */

.price-filter{
    margin-inline-end: 20px;
    margin-block-end: 20px;
}

.book-list{
    margin: 5px;
}

.price-input{
    max-width: 100px;
    margin: 5px;
}

/* BOOK-GALLERY */

/* HEADER */

.books-header {
    margin: 20px;
}

.book-list{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-auto-rows: 250px;
    gap: 30px 10px;
}

.book-img{
    height: 90%;
    width: 90%;
    margin: 0px 5px;
}

.book-list a, .book-list-google-list a{
    text-decoration: none;
    color: black;
}

.book-text *{
    margin: 2px auto;
}

/* BOOK DETAILS */

.book-details-container{
    margin-block-end: 20px;
}

.book-price{
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 5px auto 20px;
}

.book-info{
    margin: 0px 15px;
}

.add-review-header{
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

.review-form{
    flex: 1;
}

.book-review *:not(:last-child) {
    margin-block-end: 10px;
}

.review > span:not(:last-child){
    margin-inline-end: 10px;
    padding-inline-end: 20px;
    border-right: #ddd solid 1px;
}

.review > span:last-child{
    margin-inline-start: 25px;
}

/* BOOK-ADD */

.add-book-input{
    width: 60%;
    border-radius: 100px;
    padding: 5px;
    outline: none;
}

.book-list-google-list{
    box-shadow: 0 0 4px black;
}
.book-list-google-list li{
    padding: 5px;
    margin: 5px;
}

.book-list-google-list li:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

/* HELPEAR */

.expensive {
    background-color: rgb(131, 17, 17);
    color: white
}

.cheap {
    background-color: green;
}