@media(max-width: 800px) {
    .book-details-container{
        flex-direction: column;
    }

    .book-info {
        align-items: center;
    }

    .add-review-header{
        border: 1px black solid;
    }

    .add-review-header:hover{
        cursor: pointer;
        background-color: #ddd;
        transition: background-color 0.3s;
    }

}