@import "./book-app/main-book.css";
@import "./email-app/main-email.css";
@import "./book-app/media-book.css";
@import "./keep-app/main-keep.css";
@import "./Modal.css";

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

body {
    background-color: #ffffff;  
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.8rem;
}


/* HELPERS */ 

.container {
    max-width: 1200px;
    margin: 5px;
    padding: 5px;
}

.clean-list {
    list-style: none
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.center-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}