/* Email comp */
.email-main {
    display: flex;
    flex-direction: column;
}

.email-main .compose {
    margin-bottom: 10px;
    border-radius: 25px;
}

.screen {
    display: flex;
    color: #202124;
  
}

.email-list {
    flex-grow: 5;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.filter-buttons button {
    margin-bottom: 5px;
}

li img, p {
    margin-right: 5px;
}


.inbox li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    border-bottom: solid 1px gray;

}

.inbox .sender {
    width: 150px;
}

.inbox .subject {
    width: 300px;
}

.inbox .email-body {
    flex-grow: 6;
    color: #5f6368;
}

/* .inbox .date {
    flex-grow: 3;
} */

.inbox img {
    padding-right: 5px;
}

.inbox img:first-child {
    padding-left: 5px;
}

.inbox .unread {
    background-color: #d6e0f0;
}

.inbox .unread .subject, .unread .date, .unread .sender{
    font-weight: bold;
}

.inbox .read {
    background-color: #f1f3f8;
}

.inbox {
    list-style-type: none;
}

.sender {
    font-size: 1rem;
}


/* Modal - make in seperate file later */

.modal-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.modal-content {
    background: white;
    max-width: 90%;
    min-width: 80%;
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: relative;
}

.hidden {
    display: none;
}

.show {
    background-color: palegreen;
    width: 600px;
    height: 600px;
    position: absolute;
    right: 10px;
    bottom: 0;
}