header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gif-home{
    width: 500px;
}

.what{
    margin-top: -80px;
}

.app-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    
    
    position: relative;
    text-decoration: none;
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .app-btn:hover {
    text-decoration: none;
  }

  .effect04 {

    color: #ffffff;
    background-color: lightblue;
    outline: solid  2px lightblue;
    
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }

  .effect04:hover{

    background-color: #ffffff;
  }
  
 
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  
  .effect04::before{
    content: url('../../img/send.png');
    
    color: #FFF;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  

/* Email comp */
.email-main {
    display: flex;
    flex-direction: column;
}

.compose-btn{
    display: flex;
    
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background-color: #ffffff;
}

.email-main .compose {
    margin-top: -0.5rem;
    
    font-size: 1rem;
    font-weight: 600;   
    color:#374957;    
    text-align: center;
}


.screen {
    display: flex;
    color: #202124;
    margin-top: 1rem;
  
}
 button {
     border: none;
     text-align: left;
     padding-top: 0.7rem;
     background-color: transparent;
     font-size: 0.9rem;
     color:#374957;
     cursor: pointer;

 }
 .icon-btn{
     margin-right:0.3rem;
     margin-top: 0.4rem;
 }


 .btn-container{
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

.email-list {
    flex: 4;
    
    margin-top: -1rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 200px;
    
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    
}

.filter-buttons button {
    margin-bottom: 5px;
}

li img, p {
    /* margin-right: 0.5rem; */
}


.inbox li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 1px #6F7C86;
    padding: 0.3rem 0;
    position: relative;
    
}

.inbox li:hover{ 
    
    cursor: pointer;
     transform: scale(1);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}



.inbox .sender {
    
    flex: 2;
    /* width: 150px; */
}

.inbox .subject {
    flex: 2;
    /* width: 300px; */
}

.inbox .email-body {
    flex: 6;
    color: #5f6368;
}

.inbox .date {
    flex: 1;
    
} 

 .icon-starred {
    
    margin-right:1rem;
    margin-left: 1rem;
 
 }
 .icon-delete{
     
   padding: 8px;
    
    margin-left: 1rem;
    
 
}



.icon-delete:hover{
    padding: 8px;
    background: lightgrey;
    border-radius: 50%;
}




.inbox .unread {
    background-color: #ffffff;
}

.inbox .unread .subject, .unread .date, .unread .sender{
    font-weight: bold;
}

.inbox .read {
    background-color: #f1f3f8;
}

.inbox {
    list-style-type: none;
    
}

.sender {
    font-size: 0.9rem;
}


/* Modal - make in seperate file later */

.modal-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.modal-content {
    background: white;
    max-width: 90%;
    min-width: 80%;
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: relative;
}

.hidden {
    display: none;
}

.show {
    background-color: palegreen;
    width: 600px;
    height: 600px;
    position: absolute;
    right: 10px;
    bottom: 0;
}